numpy
- numpy basics array understandings installation using pip install numpy dimensional arrays shape resize vectorization.
pandas
- pandas basic data frame understandings loc, iloc, data structure
csv
sqlite3
- sqlite3 basic understandings, how to connect to database, how to create table, how to insert data, how to fetch data, how to commit changes.
